/* Background della pagina */
body{
    background: url(background.jpg);
    color: white;
    background-size: cover;
}

/* Background che contiene le informazioni */ 
.contenitore-grigio{
    background-color: #211f1196;
    margin-left: 350px;
    margin-top: 1%;
    height: 860px;
    width: 1200px;
    border-radius: 2%;
}

/* contenitore del logo e del testo */
.struttura{
    margin-bottom: 10px;

}

.logo {
    width: 260px;
    margin-top: 100px; /* top= si sposta in giù */
    margin-left: 40%; /* left= si sposta a destra */
}

.testo{
    font-family: Arial, Helvetica, sans-serif; /* font testo */
    color: #00dd00; /* colore del testo=#00dd00 */
    margin: auto;
    text-align: center;
}

/* Riga dei servizi a disposizione */ 
.riga-servizi{
    background-color: #00dd00;
    width: 950px;
    height: 40px;
    margin-left: 150px;
}

.servizi{
    text-align: center;
    padding: 10px;
}

/* Riga dei modelli di monopattini */
.riga-modelli{
    width: 1030px;
    margin: auto;
}

.modello-1{
    padding: 10px;
    width: 1000px;
    display: inline-block;
}

.checkbox{
    margin-top: 10px;
}

.monopattino{
    margin: auto;
    font-size: 30px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif; /* font testo */
}

.via-strada-1{
    margin: auto;
    margin-left: 25px;
}

.stato-carica-1{
    margin: auto;
    display: inline;
}

.barra-colorata-1{
    height: 35px;
    width: 565px;
    background-color: #f5b453;
    border-radius: 10px;
}

.stato-carica-2{
    margin: auto;
    display: inline;
}

.barra-colorata-2{
    height: 35px;
    width: 825px;
    background-color: #1ec31e;
    border-radius: 10px;
}

.stato-carica-3{
    margin: auto;
    display: inline;
}

.barra-colorata-3{
    height: 35px;
    width: 170px;
    background-color: #be4141;
    border-radius: 10px;
}


